<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <title>MCBS EMS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        
  /* footer logo */
 
  .footer-logo-section {
    text-align: center; /* Center align the logos */
}

.footer-logo {
    height: 30px; /* Adjust height as needed */
    width: 10;
    margin: 5px;
    object-fit: contain;
    mix-blend-mode:hard-light;
    display: inline-block;
}
    /* footer logo end */

    
    /* Extra facility start */
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .container.reverse {
            flex-direction: row-reverse;
        }
        .text-section {
            max-width: 50%;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .text-section h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        .text-section p {
            font-size: 1em;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .text-section button {
            background-color: black;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 1em;
        }
        .image-section {
            max-width: 50%;
            padding: 20px;
        }
        .image-section img {
            width: 565px; /* Set the desired width */
            height: 400px; /* Set the desired height */
            object-fit: cover; /* Ensure the image covers the set dimensions */
            display: block;
        }
        /* extra facility stop */
        


    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
        <a href="index.html" class="navbar-brand bg-white d-flex align-items-center px-4 px-lg-5">
            <img src="img/file.png" alt="MCBS Logo" style="width: 120px; height: 75px; margin-right: 20px;">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link ">About</a>
                <a href="service.html" class="nav-item nav-link">Services</a>
                <a href="infrastructure.html" class="nav-item nav-link">Infrastructure</a>
                <!-- <a href="facilities.html" class="nav-item nav-link">facilities</a> -->

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="award-certificate.html" class="dropdown-item">Awards/Certificates</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="feature.html" class="dropdown-item">Features</a>
                        <a href="careers.html" class="dropdown-item">Careers</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <h4 class="m-0 pe-lg-5 d-none d-lg-block" ><a href="tel:+9191310 80293"><i class="fa fa-headphones text-primary me-3"></i>+9191310 80293</a></h4>
        </div>
    </nav>
    
    <!-- Navbar End -->
     

    
<!-- facility more -->
<div class="container">

    <div class="text-section">
        <h1>Surface Mount Technology(SMT)</h1>
        <p>
            &#10687; SMT is a surface mount technology (short for Surface Mounting Technology) called surface mount or surface mount technology.<br>

            &#10687;  It is currently the most popular technology and process in the electronics assembly industry. Commitment to excellence, we transform visions into reality, one brick at a time.<br>

            &#10687; It is a surface-mounting component (SMC/SMD, Chinese called chip component) that is packaged in a matrix of leadless or short leads or balls, mounted on the surface of a Printed Circuit Board (PCB) or on the surface of other substrates, the circuit assembly technique of soldering is performed by means of reflow soldering or dip soldering.<br>

            &#10687; We offer first-class SMT machines ranging from SMT printers and dispensing, through pick and place machines and inspection. Our SMT machines are used all around the world to enable the production of the most modern technology.<br>
        </p>
        <!-- <button>KNOW MORE</button> -->
    </div>

    <div class="image-section">
        <img src="img/f1.jpg" alt="strength">
    </div>
</div>


<div class="container reverse ">
    <div class="text-section">
        <h1>Through-hole technology (THT)</h1>
        <p>
            &#10687; Through-hole technology (THT) is the vintage maestro of electronic assembly, where components are inserted into pre-drilled holes on a printed circuit board (PCB) and soldered to pads on the opposite side. <br>
            
            &#10687; It's like a timeless symphony, where each component takes center stage, creating a harmonious ensemble of connectivity and reliability.<br>
            
            &#10687; In the world of THT, components are like sturdy performers, with leads that extend through the PCB, anchoring them in place like roots in fertile soil. <br>
            
            &#10687; From resistors and capacitors to diodes and transistors, each component finds its home in a meticulously drilled hole, forming a connection that's as solid as a rock. <br>
            
            &#10687; But THT isn't just about tradition – it's also about resilience. With its robust construction and mechanical strength, THT is like the oak tree of electronic assembly, weathering the storms of vibration, shock, and thermal stress with ease.
        </p>
        <!-- <button>KNOW MORE</button> -->
    </div>
    <div class="image-section ">
        <img src="img/f3.jpg" alt="mcbs">
    </div>
</div>
<div class="container">
    <div class="text-section">
        <h1>Ball Grid Array(BGA) Soldering</h1>
        <p>
            &#10687; A ball grid array (BGA) is a type of surface-mount packaging. BGAs are used for integrated circuits, specifically for SMDs like microprocessors which require permanent mounting.<br>
            
            &#10687; Though it is a type of SMT, the ball grid array uses a different approach to connections. This technique permanently mounts integrated circuits using a grid of solder balls under the components. <br>
            
            &#10687; Unlike SMT or Through-hole techniques where only the perimeter of the components is soldered, with BGA, the entire bottom surface area of the device is used for connections. <br>
            
            &#10687; BGA boards have more interconnections than normal PCBs, allowing for high-density, smaller sized PCBs. Since the pins are on the underside of the board, the leads are also shorter, yielding better conductivity and faster performance of the device. <br>
           
            &#10687; The PBGA or Plastic BGA uses BT resin/glass laminate for the substrate, along with plastic packaging material. It is used in high-efficiency devices as they are low cost, and offer convenient surface mounting with high reliability.<br>
            
            &#10687; The Tape BGA (TBGA) package is good for medium- to high-end applications with heat dissipation but no external heatsink. They use two types of interconnections between the substrate and the board based on lead and inverted solder bonding.<br>
            
            &#10687; PCBs with BGA components are smaller in size, cheaper, and are densely packed with connections on a small surface area. They deliver superior performance with high reliability, making them ideal for high-performance applications such as CPUs, data controllers, or mobile phone processor chips.<br>
        </p>
        <!-- <button>KNOW MORE</button> -->
    </div>

    <div class="image-section">
        <img src="img/f2.jpg" alt="strength">
    </div>
</div>

<!-- facility more end -->

 
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-dark mb-4">Address</h4>
                    
                    <div style="padding: 10px; background-color: #f8f9fa; border-radius: 5px;">
                        <p class="mb-2 text-dark">
                            <i class="fa fa-map-marker-alt me-3" style="margin-right: 10px;"></i>
                            <a href="https://maps.app.goo.gl/xy2MZWx9zEyE7Dzc8" style="color:#000000; text-decoration: none;">
                                B-134-139, GIDC Electronics Estate, Sector-25, Gandhinagar-382024, Gujarat, India
                            </a>
                        </p>
                    </div>
                
                    <p class="mb-2">
                        <i class="fa fa-phone-alt me-3 text-dark"></i>
                        <a href="tel:+91-79-23287369" style="color:#000000">+91 91310 80293</a>
                    </p>
                
                    <p class="mb-2 text-dark">
                        <i class="fa fa-envelope me-3"></i>
                        Email: 
                        <a href="mailto:info@mcbsintl.com" style="color:#000000">info@mcbsintl.com</a>
                    </p>
                
                    <div class="d-flex pt-2">
                        <a href="https://www.linkedin.com/showcase/mcbs-ems/about/" style="margin-right: 15px;">
                            <i class="fab fa-linkedin" style="font-size: 2rem; color: #0077b5;"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCXOqgJp2fvgp_h25prmP1Rw" style="margin-right: 15px;">
                            <i class="fab fa-youtube" style="font-size: 2rem; color: #ff0000;"></i>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100069168183177&sk=about" style="margin-right: 15px;">
                            <i class="fab fa-facebook" style="font-size: 2rem; color: #3b5998;"></i>
                        </a>
                        <a href="https://www.instagram.com/mcbs_ems/" style="margin-right: 15px;">
                            <i class="fab fa-instagram" style="font-size: 2rem; color: #e4405f;"></i>
                        </a>
                    </div>
                </div>
                
                <!-- <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Services</h4>
                    <a class="btn btn-link" href="">Air Freight</a>
                    <a class="btn btn-link" href="">Sea Freight</a>
                    <a class="btn btn-link" href="">Road Freight</a>
                    <a class="btn btn-link" href="">Logistic Solutions</a>
                    <a class="btn btn-link" href="">Industry solutions</a>
                </div> -->
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-dark mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="index.html">Home</a>
                    <a class="btn btn-link" href="about.html">About Us</a>
                    <a class="btn btn-link" href="service.html">Our Services</a>
                    <a class="btn btn-link" href="infrastructure.html">Infrastructure</a>
                    <a class="btn btn-link" href="facilities.html">facility</a>
                    <a class="btn btn-link" href="contact.html">Contact Us</a>
                    <!-- <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a> -->
                    <div class="footer-logo-section" style="display: flex; justify-content: flex-start; align-items: center;">
                        <img src="img/iso.png" alt="Logo 1" class="footer-logo" style="margin-right: 20px; width: 50px; height: auto;">
                        <img src="img/isro.jpg" alt="Logo 2" class="footer-logo" style="margin-right: 20px; width: 50px; height: auto;">
                        <!-- <img src="img/Ministry_of_Defence_India.png" alt="Logo 3" class="footer-logo" style="margin-right: 20px; width: 50px; height: auto;">                         -->
                        <img src="img/DRDO.jpg" alt="Logo 3" class="footer-logo" style="margin-right: 20px; width: 100px; height: 100px;">

                        <!-- <img src="img/ul-logo.png" alt="Logo 4" class="footer-logo" style="margin-right: 20px; width: 150px; height: auto;"> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-dark mb-4">Subscribe</h4>
                    <p class="text-dark">Stay updated with our latest news and offers by subscribing to our newsletter!</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="text-dark form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-dark py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">MCBS <span>EMS</span> All Right Reserved.</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        <!-- Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>